@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rfsski');
  src:  url('fonts/icomoon.eot?rfsski#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rfsski') format('truetype'),
    url('fonts/icomoon.woff?rfsski') format('woff'),
    url('fonts/icomoon.svg?rfsski#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-books:before {
  content: "\e920";
}
.icon-users:before {
  content: "\e972";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-question:before {
  content: "\ea09";
}
