* {
    margin: 0;
    padding: 0;
    color: #fff;
}



body {
    background: linear-gradient(to bottom, rgb(8, 12, 40), #000000);
    color: white;
    border: 1px solid rgb(255, 255, 255);
    opacity: 7;
    cursor: auto;
}

header {
    width: 100%;
    text-decoration: none;
    

}


header nav {
    width: 100%;
    margin: auto;
    max-width: 1000px;
    background: linear-gradient(to bottom, #771510, #000000);


}

#menu {
    background: linear-gradient(to bottom, #771510, #000000);

    color: #FFF;
    height: 55px;
    padding-left: 18px;
    border-radius: 2px;


}

#menu ul,
#menu li {

    margin: 0 auto;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-right: 90px;
    margin-left: 1px;




}

#menu ul {
    width: 100%;


}

#menu li {
    float: left;
    display: inline;
    position: relative;
    
}

#menu a {
    display: block;
    line-height: 43px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

#menu a.dropdown-arrow:after {

    content: "\23F7";
    margin-left: 5px;
}

#menu li a:hover {
    color: #FFFFFF;
    background: #fb4d44;
    border-radius: px;
}

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 49px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

#menu label {
    display: none;
    line-height: 43px;
    text-align: center;
    position: absolute;
    left: 35px
}

#menu label:before {
    font-size: 1.5em;
    content: "\2261";
    margin-left: 20px;
    margin-right: 8px;
}

#menu ul.sub-menus {
    height: auto;
    overflow: hidden;
    width: 170px;
    background: linear-gradient(to bottom, #771510, #000000);
    
    position: absolute;
    z-index: 99;
    display: none;

}

#menu ul.sub-menus li {
    display: block;
    width: 1002%;
   
}

#menu ul.sub-menus a {
    color: #ffffff;
    font-size: 14px;
}

#menu li:hover ul.sub-menus {
    display: block
}

#menu ul.sub-menus a:hover {
    background: linear-gradient(to bottom, #771510, #000000);

    color: #FFFFFF;
}

@media screen and (max-width: 800px) {
    #menu {
        position: absolute
    }

    #menu ul {
        background: #771510;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none
    }

    #menu ul.sub-menus {
        width: 100%;
        position: static;
    }

    #menu ul.sub-menus a {
        padding-left: 30px;
    }

    #menu li {
        display: block;
        float: none;
        width: auto;
    }

    #menu input,
    #menu label {
        position: absolute;
        top: 0;
        left: 0;
        display: block
    }

    #menu input {
        z-index: 4
    }

    #menu input:checked+label {
        color: white
    }

    #menu input:checked+label:before {
        content: "\00d7"
    }

    #menu input:checked~ul {
        display: block
    }
}



.btn {
    height: 30%;
    font-size: 10px;

}

.APA {
    color: #000000;
    font-size: 15px;
    text-align: justify;
}

.recuperado {
    color: #000000;
}

.hidde {
 
    background: linear-gradient(to bottom, rgba(8, 12, 40, 0.949), #fa1414);
    color: rgb(255, 255, 255);
    border: 3px;
    border: 3px solid #771510;
    width: auto;
    height: 30px;
    font-size: 18px;

}

.btn {
    background-color: #000000;
}

.btn:hover {
    background: #15a3f6;

}

.acerca {
    background-color: #771510;
    border-radius: 15px;
    font-size: 19px;
    color: #fff;
    border: 5px solid rgb(255, 255, 255);
    text-align: justify;


}



.img {
    width: 200px;
    height: 200px;
    margin-left: 30px;
    border: 5px solid rgb(247, 247, 247);
    box-shadow: 0 0 10px 5px;
}

.img2 {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 5px;
}

.imgone {
    width: 200px;
    height: 196px;
    margin-left: 10px;
    margin-top: 5px;
}

.imgtwo {
    width: 200px;
    height: 195px;
    margin-left: 10px;
    margin-top: 5px;
}

.imgtree {
    width: 200px;
    height: 189px;
    margin-left: 10px;
    margin-top: 5px;
}

.img-responsive {
    width: 300;
    height: 350;
    box-shadow: 0 0 5px 5px;
}

.img-clip {
    width: 3.5%;


}

.coloruacm {
    color: #a8332d;
}

.pdf {
    width: 30%;
    font-size: 25px;
    margin-inline-start: 5;
    color: red;
    text-decoration: none;
}

.pdf:hover {
    color: #fea7a5;
}

.VDO {
    border-radius: 20px;
    box-shadow: 0 0 5px 5px;
}

.UBC {
    border-radius: 9px;
    box-shadow: 0 0 5px 5px;
}


#button {
    border-radius: 5px;
    background-color: #FFF;
    color: #000000;
}

.color1 {
    background: rgba(255, 208, 20, 0.902);
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.066);
    border-radius: 10px;

}

.color3 {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;

}

.edu {
    color: #000000;
}

aside {
    color: #fff;

}


p {
    text-align: justify;
    font-size: 18px;
}

.aside {
    text-align: justify;


}

h2 {
    font-family: times;
}

h3 {
    text-align: center;
}


.title-rojo {
    color: #a8332d;
}



.title-ubicacion {
    color: #037158;
}

footer {
    width: 100%;
    background: linear-gradient(to bottom, #771510, #000000);
    color: #fff;
    border: 5px solid #ffffff;
    border-radius: 9px;
}
.vine{
    font-size: 25px;
}

.uacm {
    border: 2px solid #fff;
    border-radius: 15px;
}

.text {
    font-size: 28px;
    font-family: helvetica;
    font-weight: bold;
    color: #ff0400;
    text-transform: uppercase;
}

.parpadea {

    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

.title {
    color: rgb(255, 255, 255);
    text-align: center;

}

.swal-wide {
    background: linear-gradient(to bottom, #771510, #000000);
    border-radius: 15px;
    font-size: 20px;
    color: #f8f8f8;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 10px 10px 5px black;
    box-shadow: -10px -10px 5px black inset;
    font-family: sans-serif;
    font-weight: bold;
}

.acerca {
    background: linear-gradient(to bottom, #771510, #000000);
    border-radius: 15px;
    font-size: 20px;
    color: #f8f8f8;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 10px 10px 5px black;
    box-shadow: -10px -10px 5px black inset;
    font-family: sans-serif;
    font-weight: bold;
}

.taller {
    background: linear-gradient(to bottom, #771510, #000000);
    border-radius: 15px;
    font-size: 20px;
    color: #f8f8f8;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 10px 10px 5px black;
    box-shadow: -10px -10px 5px black inset;
    font-family: sans-serif;
    font-weight: bold;
}

.revistas {
    background-color: #007bbe;
    border-radius: 15px;
    font-size: 20px;
    color: #fff;
    border: 3px solid rgb(255, 255, 255);
    justify-content: center;
}

.principio {
    text-align: center;

    margin-right: 17%
}
